aws_access_key    = "AWSアクセスキー"
aws_secret_key    = "AWSシークレットキー"
aws_account_id    = "AWSアカウントID"
database_host     = "RDSのエンドポイント"
database_name     = "sample_app_production"
database_username = "root"
database_password = "password"
app_image_uri     = "ECRリポジトリ(app)のURI"
nginx_image_uri   = "ECRリポジトリ(nginx)のURI"
rails_master_key  = "Railsアプリのmaster.key"
